<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productplan">


	<!-- 원재료 구매계획 쿼리문 -->
	<select id="selectFirstByPL" resultType="Map">
		select pl.product_name as "productName",
		        B.bom_no as "bomNo",
		        RM.rm_no as "rmNo",
		        RM.rm_name as "rmName",
		        br.quantity as "requiredQ",
		        R.quantity as "rmStock" 
		from product_list PL 
		        left join bom B on PL.pl_no = B.pl_no
		        left join bom_rm BR on B.bom_no = BR.bom_no
		        left join receiving R on BR.rm_no = R.rm_no
		        left join raw_material RM on R.rm_no = RM.rm_no  
        where PL.pl_no = 8
	</select>
	
	<select id="selectEndProduct" resultType="Map">
		select pl_no, product_name from product_list
	</select>
	
	<select id="selectTotalContentByEp" resultType="_int">
		select count(*) from product_list
	</select>
	
	<select id="eachAmount" resultType="Map">
		select pl.product_name as "productName",
		        B.bom_no as "bomNo",
		        RM.rm_no as "rmNo",
		        RM.rm_name as "rmName",
		        br.quantity as "requiredQ",
		        R.quantity as "rmStock" 
		from product_list PL 
		        left join bom B on PL.pl_no = B.pl_no
		        left join bom_rm BR on B.bom_no = BR.bom_no
		        left join receiving R on BR.rm_no = R.rm_no
		        left join raw_material RM on R.rm_no = RM.rm_no  
        where PL.pl_no = #{productNo}
	</select>
	<!-- <resultMap type="map" id="eaMap" >
		<result column="pl.product_name" property="productName" />
		<result column="B.bom_no" property="bomNo"></result>
		<result column="br.rm_no" property="rmNo"></result>
		<result column="br.quantity" property="requireQ"></result>
		<result column="R.quantity" property="rmStock"></result>
		
	</resultMap> -->
	
	
	<!-- 작업지시서 쿼리문 -->
	<select id="selectJobOrder" resultMap="joMap" >
		select jo_no,
			   customer,
			   to_char(due_date, 'YYYY-MM-DD') as "dueDate",
			   manager,
			   product_name,
			   order_quantity,
			   order_content
		from job_order order by jo_no desc
	</select>
	<resultMap type="map" id="joMap" >
		<id column="jo_no" property="joNo" ></id>
		<result column="customer" property="customer"></result>
		<result column="dueDate" property="dueDate"></result>
		<result column="manager" property="manager"></result>
		<result column="product_name" property="productName"></result>
		<result column="order_quantity" property="orderQuantity"></result>
		<result column="order_content" property="orderContent"></result>
		
	</resultMap>
	<select id="selectJoTotalContents" resultType="_int">
		select count(*) from job_order
	</select>
	
	<insert id="insertJobOrder">
		insert into job_order
		values( #{joNo},1,1,default,
				#{customer},
				to_date(#{dueDate}, 'yyyy/MM/dd'),
				#{manager},
				#{productName},
				#{quantity},
				#{orderContent}
				)
	</insert>
	<!-- 작업지시서 세부사항 조회 쿼리문 -->
	<select id="selectCustomer" resultType="Map">
		select vendor_name as "content1",
			   incharge as "content2"
		from vendor
		where vendor_type = 2
	</select>
	<select id="selectTotalContentByCtmr" resultType="_int">
		select count(*) from vendor where vendor_type = 2
	</select>
	<select id="selectProductName" resultType="Map">
		select pl_no as "content1",
			   product_name as "content2" 
		from product_list
	</select>
	<select id="selectTotalContentByPn" resultType="_int">
		select count(*) from product_list
	</select>
	<!-- end -->
	
	<select id="selectOneJo" resultMap="joMap">
		select jo_no,
			   customer,
			   to_char(due_date, 'YYYY-MM-DD') as "dueDate",
			   manager,
			   product_name,
			   order_quantity,
			   order_content
		from job_order 
		where jo_no = #{joNo}
		order by jo_no desc 
	</select>
	
	<update id="updateJobOrder">
		update job_order
		set 
			due_date = to_date(#{dueDate}, 'yy/MM/dd'),
			customer = #{customer},
			manager = #{manager},
			product_name = #{productName},
			order_quantity = #{quantity},
			order_content = #{orderContent}
		where jo_no = #{joNo} 
	</update>
	<delete id="deleteOneJo">
		delete from job_order
		where jo_no = #{joNo}
	</delete>
	
	
	
	
	
	
</mapper>