<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stock">

	<resultMap type="map" id="stockMap">
	</resultMap>
	
	<select id="selectRmStockList" resultMap="stockMap">
	   SELECT RECIEVING.RM_NO, RAW_MATERIAL.RM_NAME, RAW_MATERIAL.SPEC, RAW_MATERIAL.TOL,RECIEVING.QUALITY_YN, SUM(RECIEVING.QUANTITY) AS RM_SUM
	   FROM RECIEVING LEFT JOIN RAW_MATERIAL ON RECIEVING.RM_NO = RAW_MATERIAL.RM_NO
	   GROUP BY RECIEVING.RM_NO, RAW_MATERIAL.RM_NAME, RAW_MATERIAL.SPEC, RAW_MATERIAL.TOL,RECIEVING.QUALITY_YN
	   ORDER BY RECIEVING.RM_NO
	</select>
	
	<select id="selectRmSnrStockList" resultMap="stockMap">
	   SELECT RECIEVING.RM_NO, RAW_MATERIAL.RM_NAME, RAW_MATERIAL.SPEC, RAW_MATERIAL.TOL,RECIEVING.QUALITY_YN, RECIEVING.QUANTITY, REC_DATE
	   FROM RECIEVING LEFT JOIN RAW_MATERIAL ON RECIEVING.RM_NO = RAW_MATERIAL.RM_NO
	   ORDER BY RECIEVING.REC_DATE DESC
	</select>
	
	<select id="selectProductStockList" resultMap="stockMap">
	   SELECT *
	   FROM PRODUCTION
	   ORDER BY PRODUCTION DESC
	</select>
	
	<select id="selectStorageStockList" resultMap="stockMap">
	   SELECT STORAGE.STORE_NO, STORAGE.STORE_NAME, PRODUCTION.LOT_NO, PRODUCTION.PRODUCT_NAME AS STORED_ITEM_NAME, PRODUCTION.QUANTITY, PRODUCT_TYPE.TYPE
	   FROM PRODUCTION LEFT JOIN STORAGE  ON STORAGE.STORE_NO = PRODUCTION.STORE_NO
                       LEFT JOIN PRODUCT_TYPE  ON PRODUCTION.PT_NO = PRODUCT_TYPE.PT_NO
	   UNION
	   SELECT STORAGE.STORE_NO, STORAGE.STORE_NAME, RECIEVING.LOT_NO, RAW_MATERIAL.RM_NAME AS STORED_ITEM_NAME, RECIEVING.QUANTITY,  PRODUCT_TYPE.TYPE
	   FROM RECIEVING LEFT JOIN STORAGE ON STORAGE.STORE_NO = RECIEVING.STORE_NO
                      LEFT JOIN RAW_MATERIAL ON RECIEVING.RM_NO = RAW_MATERIAL.RM_NO
                      LEFT JOIN PRODUCT_TYPE  ON RECIEVING.PT_NO = PRODUCT_TYPE.PT_NO
                      
	</select>
	
	
	<update id="UpdateRm">
		update raw_material
		set account_no = #{accountNo},
			pt_no = #{ptNo},
			rm_name = #{productName},
			delivery = #{delivery},
			inprice = #{inPrice},
			outprice = #{outPrice},
			spec = #{spec},
			tol = #{tol}
		where rm_no = #{productNo}
	</update>
	
	
</mapper>