<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stock">

	<resultMap type="map" id="stockMap">
	</resultMap>
	
	<select id="selectRmStockList" resultMap="stockMap">
	   SELECT RECIEVING.RM_NO, RAW_MATERIAL.RM_NAME, RAW_MATERIAL.SPEC, RAW_MATERIAL.TOL,RECIEVING.QUALITY_YN, SUM(RECIEVING.QUANTITY) AS RM_SUM, VENDOR.VENDOR_NO, VENDOR.VENDOR_NAME
	   FROM RECIEVING LEFT JOIN RAW_MATERIAL ON RECIEVING.RM_NO = RAW_MATERIAL.RM_NO
                      LEFT JOIN VENDOR ON RAW_MATERIAL.ACCOUNT_NO = VENDOR.VENDOR_NO
       GROUP BY RECIEVING.RM_NO, RAW_MATERIAL.RM_NAME, RAW_MATERIAL.SPEC, RAW_MATERIAL.TOL,RECIEVING.QUALITY_YN, VENDOR.VENDOR_NO, VENDOR.VENDOR_NAME
	   ORDER BY RECIEVING.RM_NO
	</select>
	
	<select id="selectRmSnrStockList" resultMap="stockMap">
	   SELECT RECIEVING.LOT_NO, RECIEVING.RM_NO, RAW_MATERIAL.RM_NAME, RAW_MATERIAL.SPEC, RAW_MATERIAL.TOL,RECIEVING.QUALITY_YN, RECIEVING.QUANTITY, REC_DATE, VENDOR.VENDOR_NO, VENDOR.VENDOR_NAME
	   FROM RECIEVING LEFT JOIN RAW_MATERIAL ON RECIEVING.RM_NO = RAW_MATERIAL.RM_NO
                      LEFT JOIN VENDOR ON RAW_MATERIAL.ACCOUNT_NO = VENDOR.VENDOR_NO
	   ORDER BY RECIEVING.REC_DATE DESC
	</select>
	
	<select id="selectProductStockList" resultMap="stockMap">
	   SELECT *
	   FROM PRODUCTION
	   ORDER BY PRODUCTION DESC
	</select>
	
	<select id="selectStorageStockList" resultMap="stockMap">
	   SELECT STORAGE.STORE_NO, STORAGE.STORE_NAME, PRODUCTION.LOT_NO, PRODUCTION.PRODUCT_NAME AS STORED_ITEM_NAME, PRODUCTION.QUANTITY, PRODUCT_TYPE.TYPE
	   FROM PRODUCTION LEFT JOIN STORAGE  ON STORAGE.STORE_NO = PRODUCTION.STORE_NO
                       LEFT JOIN PRODUCT_TYPE  ON PRODUCTION.PT_NO = PRODUCT_TYPE.PT_NO
	   UNION
	   SELECT STORAGE.STORE_NO, STORAGE.STORE_NAME, RECIEVING.LOT_NO, RAW_MATERIAL.RM_NAME AS STORED_ITEM_NAME, RECIEVING.QUANTITY,  PRODUCT_TYPE.TYPE
	   FROM RECIEVING LEFT JOIN STORAGE ON STORAGE.STORE_NO = RECIEVING.STORE_NO
                      LEFT JOIN RAW_MATERIAL ON RECIEVING.RM_NO = RAW_MATERIAL.RM_NO
                      LEFT JOIN PRODUCT_TYPE  ON RECIEVING.PT_NO = PRODUCT_TYPE.PT_NO
                      
	</select>


<!-- ========================================= INSERT UPDATE mapper ========================================= -->


	<insert id="InsertRm">
		insert into RECIEVING 	
		values(
			(SELECT SUBSTR(REPLACE(TRIM(RM_NAME),' ',''), 1, 4)  
			 FROM RAW_MATERIAL
			 WHERE RM_NO = #{rmNo}) || '_' || to_char(to_date(#{recDate},'yyyy-MM-dd'),'yyyyMMdd') || '_' || SEQ_LOT_NO.NEXTVAL,
			#{rmNo},
			default,
			default,
			#{quantity},
			default,
			default,
			to_date(#{recDate},'yyyy-MM-dd'),
			default
		)
	</insert>
	
	<update id="UpdateRm">
		update RECIEVING
		set QUANTITY = #{quantity},
			REC_DATE = to_date(#{recDate},'yyyy-MM-dd')
		where LOT_NO = #{lotNo}
	</update>
	
	<delete id="DeleteRm">
		DELETE FROM RECIEVING
		where LOT_NO = #{lotNo}
	</delete>
	
	
<!-- ========================================= searchSpecify mapper ========================================= -->
	
	<select id="selectRawmaterialAll" resultType="map">
		select rm_no as "content2", rm_name as "content" from raw_material order by rm_no
	</select>

	<select id="selectAllRawmaterialNo" resultType="_int">
		select count(*) from raw_material
	</select>
	
	
	<select id="selectStorageAll" resultType="map">
		select store_no as "content2", store_name as "content" from storage order by store_no
	</select>
	
	<select id="selectAllCountByStorageNo" resultType="_int">
		select count(*) from storage
	</select>
	
	
	<select id="selectProductTypeAll" resultType="map">
		select pt_no as "content2", type as "content" from product_type order by pt_no
	</select>
	
	<select id="selectAllCountByProductNo" resultType="_int">
		select count(*) from product_type
	</select>
	
	<select id="selectRecievingtypeAll" resultType="map">
		select lot_no as "content2", TO_CHAR(REC_DATE,'YYYY-MM-DD') as "content" , QUANTITY as "content3"
		from recieving 
		order by lot_no
	</select>
	
	<select id="selectRecievingCountByLotNo" resultType="_int">
		select count(*) from recieving
	</select>
	
<!-- ========================================= searchSpecify mapper END ========================================= -->	
	
	
</mapper>