<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="attend">
	<insert id="attendant">
		insert into attend(email,attend_start) values(#{email},sysdate+(1/24)*9)
	</insert>
	
	<insert id="leave">
		insert into attend(email,attend_end) values(#{email},sysdate+(1/24)*9)
	</insert>
	<select id="attendShow" resultType="Attend">
	select email,attend_start,to_char(attend_start,'yyyy-mm-dd')attendstartform,attend_end,to_char(attend_end,'yyyy-mm-dd')attendendform,reason from attend where email=#{email}
	</select>
	<select id="selectAttendOne" resultType="Attend">
		select * from attend where email=#{email} and to_char(attend_start,'yyyy-mm-dd')=#{attendStart}
	</select>
	<select id="selectLeaveOne" resultType="Attend">
		select * from attend where email=#{email} and to_char(attend_End,'yyyy-mm-dd')=#{attendEnd}
	</select>
</mapper>