<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="member">
	<insert id="insertMember">
		insert into employee values(seq_emp_id.nextval, #{empName}, #{empNo}, #{email}
		,#{phone}, #{deptCode},#{jobCode},sysdate,null,#{quitYn},#{password})
	</insert>
	
	<select id="selectDeptList" resultMap="selectList">
		select * from department	
	</select>
	<select id="selectJobList" resultMap="selectList">
		select * from job	
	</select>
	
	<resultMap id="selectList" type="Map">
	</resultMap>
	<select  id="memberSelectList" resultMap="selectListMember">
		select * from employee
	</select>
	
	<resultMap id="selectListMember" type="member"></resultMap>
	
	<select id="selectOneMember" resultType="member">
		select * from employee where email=#{email}
	</select>
</mapper>