<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="document">

	<select id="selectDocList" resultMap="selectDoc">
		select D.* from document D left join doc_line L on D.doc_no=L.doc_no where D.doc_writer=#{empName} or L.prev_writer=#{empName} or L.next_writer=#{empName}
	</select>
	<resultMap id="selectDoc" type="document"></resultMap>
	<select id="selectDocTypeAll" resultType="map">
		select * from doc_type
	</select> 
	<insert id="insertDocument">
		insert into document values(seq_doc_no.nextval,#{typeNo},#{docType},#{docTitle},#{docStatus},
									#{docWriter},#{docLastapproval},#{docContent},#{regDate})
	</insert>
	
	<insert id="insertDocumentLine">
		<selectKey keyProperty="docNo" resultType="_int"
				   order="BEFORE">
			select seq_doc_no.currval from dual
		</selectKey>
		insert into doc_line values(seq_line_no.nextval, #{docNo}, #{typeNo}, #{prevWriter},
									#{nextWriter},#{returnYn})
	</insert>
	
	<select id="selectMemberList" resultType="map">
		select E.emp_id as "emp_id",E.emp_name as "emp_name" ,d.dept_title as "dept_title",J.job_name as "job_name" from employee E left join department D on E.dept_code = D.dept_id left join job J on E.job_code=J.job_code order by E.emp_id
	</select>
	
	<select id="selectAllCountByAccountNo" resultType="_int">
		select count(*) from employee
	</select>
	
	<select id="documentDetailView" resultType="document">
		select * from document where doc_no = #{docNo}
	</select>
</mapper>