<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="production">

	<select id="selectRawMaterialList" resultMap="rawmaterialMap">
		select * from raw_material order by rm_no
	</select>
	<resultMap type="map" id="rawmaterialMap">
	</resultMap>

	<insert id="insertBOMlist" parameterType="java.util.Map">
		insert into bom(bom_no, pl_no, rm_no, quantity, reg_date) 
        VALUES
		<foreach collection="list" item="item" separator="," open="" close="">
			   (bom_seq.nextval, 
               #{item.productCode},
               #{item.pCodeList},
               #{item.pCountList},
               SYSDATE)
        </foreach>
	</insert>
</mapper>